.cite-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &--hidden {
    display: none;
  }
}

.cite-menu__label {
  padding: 10px 25px;
  font-family: @logo-font;
  font-size: @logo-fs-mob;
  font-weight: 400;
  color: @third-font-color;
  letter-spacing: 0.25em;
  background-color: @accent-color;
  text-transform: uppercase;
  z-index: 1000;
  cursor: pointer;
}

.cite-menu__toggle {
  padding: 10px 0;
  font-size: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 100;
  cursor: pointer;

  &--to-open {
    flex-basis: 25px;
    margin-right: 16px;
    background-image: url("../img/svg/toggle-menu-white.svg");
    background-size: 25px 14px;
  }

  &--to-close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px 0;
    width: 16px;
    margin: 0;
    background-image: url("../img/svg/close-menu.svg");
    background-size: 16px 16px;
  }
}

.cite-menu__item {
  font-family: @main-font, @web-safe-serif-font, serif;
  font-size: @menu-fs;
  font-weight: 600;
  color: @main-font-color;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.cite-menu__contact {
  display: none;
}

@media (min-width: @tablet-switch-width) {
  .cite-menu__label {
    padding: 5px 44px 7px;
    font-size: @logo-fs-tablet;
    line-height: 3.5;
    letter-spacing: 0.4em;
  }

  .cite-menu__contact {
    display: block;
    flex-basis: 117px;
    margin: 0 auto;
  }

  .cite-menu__toggle {
    margin: auto;
    margin-left: 114px;

    &--to-open {
      background-image: url("../img/svg/toggle-menu-black.svg");
    }

    &--to-close {
      position: absolute;
      top: 21px;
      right: 51px;
      padding: 11px 0;
      width: 21px;
      background-size: 21px 21px;
    }
  }
}

@media (min-width: @desktop-switch-width) {
  .cite-menu {
    align-items: baseline;
  }

  .cite-menu__label {
    align-self: center;
    padding: 9px 55px 15px;
    font-size: @logo-fs-desktop;
    line-height: 3;
    letter-spacing: 0.35em;
  }

  .cite-menu__contact {
    flex-basis: 200px;
    margin-left: 80px;
  }

  .cite-menu__list {
    margin: 0 52px 0 70px;
  }

  .cite-menu__list li {
    display: inline-block;
  }

  .cite-menu__item {
    display: block;
    padding: 32px 17px 19px;
    font-size: @menu-fs-desktop;
    cursor: pointer;
  }

  .cite-menu__toggle {
    display: none;
  }
}
