.contacts {
  font-family: @bolder-main-font, @web-safe-serif-font, serif;
  font-size: @plain-text-fs-mob;
  color: @main-font-color;
}

.contacts__link {
  text-decoration: none;
  color: @main-font-color;
  cursor: pointer;
}

@media (min-width: @tablet-switch-width) {
  .contacts {
    font-size: @plain-text-fs-tablet;
  }
}

@media (min-width: @tablet-switch-width) {
  .contacts {
    font-size: @plain-text-fs-desktop;
  }
}
