.detailed-portfolio {
  background-image: url("../../img/portfolio-section-back-mob.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-switch-width) {
  background-image: url("../../img/portfolio-section-back-tablet.jpg");
}

@media (min-width: @desktop-switch-width) {
  background-image: url("../../img/portfolio-section-back-desktop.jpg");
}
