.detailed-portfolio {
  font-family: @bolder-main-font, @web-safe-serif-font, serif;
  font-size: @plain-text-fs-mob;
  color: @third-font-color;
  background-image: url("../img/detailed-portfolio-bg-mob.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.detailed-portfolio .content-wrapper {
  width: 240px;
  margin-top: 55px;
}

.detailed-portfolio__text {
  padding-bottom: 128px;
}

.detailed-portfolio__header {
  padding-top: 118px;
  padding-bottom: 12px;
  text-align: left;
  background-image: none;
  letter-spacing: 0.01em;
}

.detailed-portfolio__descr {
  margin: 0;
  line-height: 1.25;
}

.detailed-portfolio__download-link {
  position: relative;
  color: @third-font-color;
}

.detailed-portfolio__download-link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 28px;
  top: 27px;
  right: -40px;
  background-size: 24px auto;
  background-image: url(../img/portfolio-download.png);
  background-repeat: no-repeat;
}

.detailed-portfolio__img {
  display: none;
}

@media (min-width: @tablet-switch-width) {
  .detailed-portfolio {
    color: @main-font-color;
    font-size: @plain-text-fs-tablet;
    background-image: linear-gradient(to right, @section-back-color 0%, @section-back-color 0% 80%, transparent 80%);
    background-size: auto 300px;
    background-position: top left;
  }

  .detailed-portfolio .content-wrapper {
    position: relative;
    width: 640px;
    margin-top: 77px;
    padding-top: 28px;
  }

  .detailed-portfolio__download-link {
    padding-top: 19px;
    font-size: 16px;
    color: @main-font-color;
  }

  .detailed-portfolio__download-link::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 36px;
    top: 18px;
    right: -55px;
    background-size: 32px auto;
    background-image: url(../img/portfolio-download.png);
    background-repeat: no-repeat;
  }

  .detailed-portfolio__img {
    display: block;
    position: absolute;
    width: 422px;
    height: 274px;
    top: 63px;
    left: -223px;
  }

  .detailed-portfolio__header {
    padding-top: 60px;
    letter-spacing: 0.05em;
  }

  .detailed-portfolio__text {
    border: 8px solid #8eb574;
    margin-left: 58px;
    padding-left: 155px;
    padding-right: 140px;
    padding-bottom: 110px;
  }
}

@media (min-width: @desktop-switch-width) {
  .detailed-portfolio {
    font-size: @plain-text-fs-desktop;
    background-image: linear-gradient(to right, @section-back-color 0%, @section-back-color 0% 67%, transparent 67%);
    background-size: auto 375px;
  }

  .detailed-portfolio .content-wrapper {
    width: 815px;
    margin-top: 95px;
    padding-top: 38px;
  }

  .detailed-portfolio__header {
    padding-top: 92px;
    font-size: @section-header-fs-tablet;
  }

  .detailed-portfolio__text {
    margin-left: 105px;
    padding-left: 215px;
    padding-right: 155px;
    padding-bottom: 182px;
  }

  .detailed-portfolio__download-link {
    padding-top: 35px;
  }

  .detailed-portfolio__download-link::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 28px;
    top: 40px;
    right: -56px;
    background-size: 24px auto;
    background-image: url(../img/portfolio-download.png);
    background-repeat: no-repeat;
  }

  .detailed-portfolio__img {
    display: block;
    position: absolute;
    width: 611px;
    height: 373px;
    top: 86px;
    left: -313px;
  }
}
