.introduction {
  position: relative;
  min-height: 480px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: @third-font-color;
  text-transform: none;
  background-image: url("../../img/img-cover-mob.jpg");
  background-size: 320px auto;
  background-color: @section-back-color;
  background-repeat: no-repeat;
  background-position: center;
}

.introduction__text {
  margin-top: 150px;
}

.introduction__descr {
  margin: 0;
}

.introduction__img {
  display: none;
}

.introduction--shaded {
  background-color: @section-back-color;
}

.introduction__header {
  margin: 0;
  font-size: @header-fs-mob;
  font-weight: 600;
  line-height: 1.5;
  color: @third-font-color;
}

.introduction__works {
  color: @third-font-color;
}

.introduction__links {
  display: none;
}

.introduction__menu .cite-menu__list {
  display: none;
}

.introduction__popup-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @section-back-color;
}

.introduction__popup-menu .cite-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  margin: 0 auto;
}

@media (min-width: @tablet-switch-width) {
  .introduction {
    font-size: 16px;
    color: @main-font-color;
    background-image: url("../../img/cover-back-tablet.jpg");
    background-position: right;
    background-size: 308px auto;
  }

  .introduction__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .introduction__text {
    max-width: 300px;
    margin-top: 275px;
  }

  .introduction__img {
    display: block;
    width: 327px;
    height: 499px;
  }

  .introduction__header {
    font-size: @header-fs-tablet;
    color: @main-font-color;
  }

  .introduction__descr {
    margin-top: 20px;
  }

  .introduction__works {
    color: @main-font-color;
    padding-bottom: 217px;
  }

  .introduction__links {
    display: block;
    padding-bottom: 74px;
  }
}

@media (min-width: @desktop-switch-width) {
  .introduction {
    font-size: 18px;
    background-image: url("../../img/img-cover-desktop.jpg"), url("../../img/cover-back-desktop.jpg");
    background-size: 348px auto, 606px auto;
  }

  .introduction__header {
    font-size: @header-fs-desktop;
  }

  .introduction__menu .cite-menu__list {
    display: block;
  }
}
