.portfolio-prewiew__descr {
  font-family: @headers-font, @web-safe-serif-font, serif;
  font-size: @caption-fs-mob;
  color: @main-font-color;
  font-weight: 600;
  line-height: 1.5;
}

.portfolio-prewiew__tag {
  font-family: @main-font, @web-safe-serif-font, serif;
  font-size: @label-fs-mob;
  line-height: 1.5;
}


@media (min-width: @tablet-switch-width) {
  .portfolio-prewiew__descr {
    font-size: @caption-fs-tablet;
  }

  .portfolio-prewiew__img {
    &--lady-marm {
      width: 240px;
      height: 376px;
    }

    &--funky-food {
      width: 184px;
      height: 229px;
    }

    &--good-food {
      width: 184px;
      height: 236px;
    }

    &--branch-rest {
      width: 184px;
      height: 287px;
    }
  }
}

@media (min-width: @desktop-switch-width) {
  .portfolio-prewiew__descr {
    font-size: @caption-fs-desktop;
  }

  .portfolio-prewiew__tag {
    font-size: @label-fs-desktop;
  }

  .portfolio-prewiew__img {
    &--lady-marm {
      width: 414px;
      height: 648px;
    }

    &--funky-food {
      width: 317px;
      height: 396px;
    }

    &--good-food {
      width: 317px;
      height: 396px;
    }

    &--branch-rest {
      width: 315px;
      height: 495px;
    }
  }
}

/*
tablet:
1 - 240  x  376
2 - 184  x  229
3 - 184  x  236
4 - 184  x  287

desktop:
1 - 414  x  648
2 - 317  x  396
3 - 317  x  396
4 - 315  x  495

*/
