
@font-face {
  font-family: 'Emona';
  src: url('Emona.eot?#iefix') format('embedded-opentype'),  url('Emona.woff') format('woff'), url('Emona.ttf')  format('truetype'), url('Emona.svg#Emona') format('svg');
  font-weight: normal;
  font-style: normal;
}
