@font-face {
  font-family: "Source Serif Pro Regular";
  src: url("../fonts/Source-serif-pro/SourceSerifPro-Regular.otf") format("opentype"), url("../fonts/Source-serif-pro/SourceSerifPro-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Source Serif Pro Bold";
  src: url("../fonts/Source-serif-pro/SourceSerifPro-Bold.otf") format("opentype"), url("../fonts/Source-serif-pro/SourceSerifPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Source Serif Pro Light";
  src: url("../fonts/Source-serif-pro/SourceSerifPro-Light.otf") format("opentype"), url("../fonts/Source-serif-pro/SourceSerifPro-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Emona";
  src: url("../fonts/Emona/Emona.otf") format("opentype"), url("../fonts/Emona/Emona.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.otf") format("opentype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "PlayfairDisplaySC-Regular";
  src: url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light/Lato-Light.eot") format("embedded-opentype"), url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light/Lato-Light.woff") format("woff");
  font-weight: 300;
}

html {
  box-sizing: content-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: @device-min-width;
  max-width: @device-max-width;
  margin: 0 auto;
  padding: 0;
  font-family: @main-font, @web-safe-serif-font, serif;
  font-size: @plain-text-fs-mob;
  line-height: 1.5;
  font-weight: 400;
  color: @main-font-color;
  text-transform: none;
  background-color: @back-color;
  background-repeat: no-repeat;
}

img {
  height: 100%;
  width: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

figure {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-wrapper {
  width: 290px;
  margin: 0 auto;
}

.section-header {
  position: relative;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 43px;
  font-family: @headers-font, @web-safe-serif-font, serif;
  font-size: @section-header-fs-mob;
  text-align: center;
  letter-spacing: 0.05em;
}

.section-header:not(.detailed-portfolio__header)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 31px;
  border-right: 2px solid @extra-font-color;
}

.section-link {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 1px;
  border-bottom: 2px solid;
  font-family: @links-font, @web-safe-ss-font, sans-serif;
  font-size: @section-link-fs-mob;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: @main-font-color;
  cursor: pointer;
}

.section-link__decor {
  margin-left: 6px;
  font-size: 25px;
  line-height: 1;
}

@media (min-width: @tablet-switch-width) {
  body {
    font-size: @plain-text-fs-tablet;
    background-image: url("../img/back-tablet.jpg");
    background-position: top center;
    background-size: 764px auto;
  }

  .content-wrapper {
    width: 640px;
  }

  .section-header {
    padding-top: 100px;
    padding-bottom: 58px;
    font-size: @section-header-fs-tablet;
  }

  .section-header:not(.detailed-portfolio__header)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 37px;
    border-right: 2px solid @extra-font-color;
  }
}

@media (min-width: @desktop-switch-width) {
  body {
    font-size: @plain-text-fs-desktop;
    background-image: url("../img/back-desktop.jpg");
    background-size: 1440px auto;
  }

  .content-wrapper {
    width: 1180px;
  }

  .section-header {
    padding-top: 133px;
    padding-bottom: 90px;
    letter-spacing: 0.05em;
    font-size: @section-header-fs-desktop;
  }

  .section-link {
    padding-top: 20px;
    font-size: @section-link-fs-desktop;
  }
}
