@accent-color: #8cb473;
@section-back-color: #f8f8f8;
@back-color: #ffffff;

@headers-font: "Source Serif Bold";
@main-font: "Source Serif Light";
@logo-font: "PlayfairDisplaySC-Regular";
@bolder-main-font: "Source Serif Pro Regular";
//@logo-font: "Emona";
@links-font: "MyriadPro-Bold";
@web-safe-serif-font: "Lucida Bright";
@web-safe-ss-font: "Arial";

@main-font-color: #212021;
@second-font-color: #1d1c1c;
@third-font-color: #ffffff;
@accent-font-color: #8eb574;
@extra-font-color: #cb98a8;
@social-font-color: #6f6d6f;

@device-min-width: 320px;
@device-max-width: 1440px;
@tablet-switch-width: 640px;
@desktop-switch-width: 1180px;

@logo-fs-mob: 9px;
@logo-fs-tablet: 14px;
@logo-fs-desktop: 18px;

@plain-text-fs-mob: 14px;
@plain-text-fs-tablet: 16px;
@plain-text-fs-desktop: 18px;

@section-header-fs-mob: 18px;
@section-header-fs-tablet: 24px;
@section-header-fs-desktop: 36px;

@section-link-fs-mob: 14px;
@section-link-fs-tablet: 16px;
@section-link-fs-desktop: 16px;

@header-fs-mob: 30px;
@header-fs-tablet: 36px;
@header-fs-desktop: 48px;

@menu-fs: 21px;
@menu-fs-desktop: 18px;

@caption-fs-mob: 18px;
@caption-fs-tablet: 16px;
@caption-fs-desktop: 18px;
@caption-accent-fs-desktop: 24px;

@label-fs-mob: 12px;
@label-fs-tablet: 11px;
@label-fs-desktop: 14px;

@social-links-fs-tablet: 12px;
@social-links-fs-desktop: 14px;
