@accent-color: #709c54;
@section-back-color: #f8f8f8;
@back-color: #ffffff;
@main-font-color: #212021;
@second-font-color: #1d1c1c;
@accent-font-color: #8eb574;
@extra-font-color: #cb98a8;
@social-font-color: #6f6d6f;

@main-font: "Source Serif Pro";
@logo-font: "Emona";
@web-safe-font: "Lucida Bright";
@web-safe-default-font: "Times New Roman";

